[Desktop Entry]
Name=dango-chaox

X-KDE-PluginInfo-Name=dango-chaox
X-KDE-PluginInfo-Author=Shino
X-KDE-PluginInfo-Email=shino@jenux.homelinux.org
X-KDE-PluginInfo-License=LGPLv3
